@font-face {
    font-family: "font1";
    src: url('/Applications/XAMPP/xamppfiles/htdocs/phpinperson/DesignThinking/fonts/Baskervville_SC,Cormorant_Garamond,Gupter/Baskervville_SC/BaskervvilleSC-Regular.ttf');
}
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500&display=swap');

*{
    font-family: 'font1';
}
body{
    margin: 0;
    padding: 0;
    /* background: url('image/logo1.png'); */
    position: relative;

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    /* background-color: wheat; */
}
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
    z-index: -1; /* Keeps the overlay behind the content */
}


.logoDiv{
    background-color: #d6dfe2;
    text-align: center;
}
.logo{
    width: 250px;
    padding: 0.2rem;
}

.name{
    color: rgb(81,140,170);
    font-size: 25px;
}
.navbar{
    background: #91242F;
    
}
.collapse{
    color: white;
    font-size: 1.2rem;
}


.login{
    background: #ffffff;
    border-radius: 10px;
    color: red;
    
    display: inline-block;
}


/* Slide-Show */
#carouselExampleCaptions img{  
    width: 100%;
    height:500px;
}
.slide-text{
    min-width: 10%;
    background-color: rgba(0, 60, 150, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid lightblue;
}
.slide-text p{
    padding:1rem;
}
 .book-button{
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    border: 1.5px solid gray;
    background-color: #ff5555;
    padding: 0.5rem 1rem ;
    border-radius: 10px;
    /* background: #03396c; */
 }
 .book-button:hover{
    
    font-size: 1.5rem;
    color: #ff5555;
    border: 1.5px solid #ff5555;
    background-color: white;
    padding: 0.5rem 1rem ;
    border-radius: 10px;
    transition: 1s;
    /* background: #03396c; */
 }





/* For Home Page */
.promote .home-icons{
    width: 100%;
    
}
.promote .home-icons img{
    width: 30%;
    height: auto;
}
.promote .promote-text p{
    /* padding: 1.2rem; */
    padding: 1.2rem;
    font-size: 1.2rem;
    background-color: #cdc6bd;
    text-align: justify;
}

/* for inside of van */
.insidevan .insidevan-item img{
    width: 85%;
    height: auto;
    border-radius: 10px;
    border: 2px solid #99c5fd;
}
/* For login */
.popup{
    transform: translate(-50%, -50%);
    background:rgba(0,0,0,0.4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter:blur(10px);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    top: 50%; 
    left: 50%; 
}
.container-login{
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 2555, 255, .2);
    backdrop-filter: blur(9px);
    color: white;
    border-radius: 13px;
    padding: 30px 40px;
    position: relative;

}
.container-login h1{
    text-align: center;
    font-size: 39px;
    font-weight: 600;
    padding-bottom: 26px;
    letter-spacing: 0.5px;
} 
.container-login .close-arrow {
    position: absolute;
    font-size: 2rem;
    top: 0; 
    right: 0; 
    color: #ff5555; 
    border-radius: 50%; 
    padding: 8px; 
    cursor: pointer;
}
.container-login .row{
    width: 100%;
    height: 50px;
    margin: 40px 0;
    
}
.container-login .row label{
    margin-left: 10px;
    
}
.container-login .row input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 2555, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}
.container-login .btn{
    width: 100%;
    height: 45px;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: black;
    font-weight: 550;
    transition: all .4s ease-in-out;
}
.container-login .btn:hover{
    transform: scale(1.05);
}
.container-login .remember{
    font-size: 14.5px;
    margin: 5px 16px 0 2px;
    padding: 10px 0px;
}
.container-login .login-link p a{
    text-decoration: none;
    color: white;
}
.container-login .login-link p a:hover{
    text-decoration: underline;
    
}
.container-login .login-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px ;
}
@media only screen and (max-width: 520px) {
    .container-login{
        width: 90%;
        padding: 30px 10px;
    }
}


